<!DOCTYPE html>
<!--
Angular lo mas potente que tiene es la tecnologia TWO WAY BINDING
Ejemplo:    <p>Escribe algo</p>
            <input type="text" ng-model="nombre">
            {{nombre}}
-->
<html ng-app="AplicacionChiquita">
    <head>
        <title>Hola Mundo en Angular</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Cargamos bootstrap -->
    <link rel="stylesheet" href="css/bootstrap.css">
<!-- JS -->
<!--cargamos angular y jquery -->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="js/angular.js"></script>
    <script src="js/app.js"></script>
    </head>
    <body ng-controller="ControladorPrincipal">
        <center>
<!--        {{mensaje}}     
            <h3>Convertir de ºC</h3>
            <input type="text" ng-model="centigrados">
            {{nombre}}      
            <h4>Presiona el botón para convertir a ºF y ºK</h4>
            <button class="btn btn-info" ng-click="boton()">Convertir</button>
            <p></p>
            <p>{{fahrenheit}}</p>
            <p></p>
            <p>{{kelvin}}</p>
            <p></p>
-->
            <h3>Introduce los datos del producto</h3>
            <input type="text" ng-model="nombre" placeholder="Nombre del producto">
            <input type="text" ng-model="costo" placeholder="Costo del producto">
            <input type="text" ng-model="unidades" placeholder="Numero de unidades">
            <button class="btn btn-info" ng-click="GuardarProducto()">Guardar Producto</button>
            
            <h3>Introduce los datos de la tarjeta</h3>
            <input type="text" ng-model="nombre" placeholder="Nombre">
            <input type="text" ng-model="diacorte" placeholder="Día corte">
            <button class="btn btn-info" ng-click="GuardarTarjeta()">Guardar Tarjeta</button>
            
            <h3>Introduce los datos de los gastos</h3>
            <input type="text" ng-model="fecha" placeholder="Fecha">
            <input type="text" ng-model="concepto" placeholder="Concepto">
            <input type="text" ng-model="cantidad" placeholder="Cantidad">            
            <button class="btn btn-info" ng-click="GuardarGasto()">Guardar Gasto</button>
            
            
            <h3>Buscar todos</h3>
            <table class="table table-bordered">
                <tr class="success">
                    <th>Id Tarjeta</th>
                    <th>Nombre Tarjeta</th>
                    <th>Día Corte</th>
                </tr>
            </table>

        </center>
    </body>
</html>
